@ import url[Outfit](https://fonts.google.com/specimen/Outfit);

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: min(100%, 250px);
  border-radius: 5%;
  padding: 1rem;
}

.card figure {
  margin: auto;
}

.card img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}

.card figcaption {
  color: hsl(218, 44%, 22%);
  margin: 1.5rem;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.card p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  margin: 1rem;
  font-weight: 400px;
  text-align: center;
}

footer {
 position: absolute;
 bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
